SONGDB_NAME=songdb
SONGDB_USER=user
SONGDB_PASSWORD=password
RESOURCEDB_NAME=resourcedb
RESOURCEDB_USER=user
RESOURCEDB_PASSWORD=password
STORAGEDB_NAME=storagedb
STORAGEDB_USER=user
STORAGEDB_PASSWORD=password
SONG_DB_URL=jdbc:postgresql://song-db:5432/songdb
RESOURCE_DB_URL=jdbc:postgresql://resource-db:5432/resourcedb
STORAGE_DB_URL=jdbc:postgresql://storage-db:5432/storagedb
SONG_SERVICE_URL=http://song-service:8080/songs
STORAGE_SERVICE_URL=http://song-service:8080/songs
RESOURCE_SERVICE_URL=http://resource-service:8081/resources
EUREKA_URI=http://eureka:8761/eureka
AWS_URL=http://localstack:4566
KAFKA_URL=kafka1:9092,kafka2:9092,kafka3:9092
KAFKA_TOPIC_RESOURCE=resource
KAFKA_CONSUMER_GROUP_ID=resource-processor-group
KAFKA_TOPIC_RESOURCE_PROCESSED=resource-processed